RewriteEngine On 
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d 

RewriteRule ^(.*)$ index.php?/$1 [L]

RewriteRule ^(app/) - [F,L,NC]
RewriteRule ^(vendor/jframework/src/Library.php) - [F,L,NC]
RewriteRule ^(vendor/jframework/src/Framework.php) - [F,L,NC]
RewriteRule ^(vendor/jframework/src/Database.php) - [F,L,NC]
RewriteRule ^(vendor/jframework/src/Controller.php) - [F,L,NC]
RewriteRule ^(vendor/jframework/src/Model.php) - [F,L,NC]
RewriteRule ^(vendor/jframework/src/Bootstrap.php) - [F,L,NC]
RewriteRule ^(controllers/) - [F,L,NC]
RewriteRule ^(libraries/) - [F,L,NC]
RewriteRule ^(models/) - [F,L,NC]